body {
    overflow-x: hidden;
}



/* BOX MODELING HEADER */

header {
    position: sticky;
    top: 0px;
    z-index: 999;
}

/* BOX MODELING MAIN SECTION INDEX */



/* BOX MODELING LATEST RELEASES SECTION INDEX */

.latestReleases {
    display: flex;
    width: 100%;
   

    p {
        padding: 0px 0px;

    }
}

.latestReleases__h1 {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-content: center;
    padding: 60px 0px 20px 0px;
    
    h1 {
        border-bottom: solid black 2px;
    }
}

.latestReleases__img1  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 0px 30px 0px 30px;
}

.latestReleases__img1 a img {
    transition: scale(5s);
} 

.latestReleases__img1 a img:hover {
    transform: scale(1.03);
} 

.latestReleases__img2 a img {
    transition: scale(5s);
} 

.latestReleases__img2 a img:hover {
    transform: scale(1.03);
} 

.latestReleases__img2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 30px;
}

.latestReleases__txtBajoBelgrano1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.latestReleases__txtBajoBelgrano2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 0px 0px 30px 0px;
}

.latestReleases__txtPix3l1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.latestReleases__txtPix3l2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 0px 0px 30px 0px;
}

/* BOX MODELING MUSIC SECTION */

.music {
    padding: 50px 0px;
    height: 500px;

    .music__video1 {
        display: flex;
        align-content: center;
        justify-content: center;
        position: relative;
        top: 40px;
    }

}


/* BOX MODELING FOOTER SECTION */

.footer {
    height: 80px;
    p {
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: justify;
        padding: 10px 0px;
        position: relative;
        top: 20px;
    }
}

/* BOX MODELING MUSIC PAGE ------------------------------------------------------------------*/


.discography__title, .photos__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100px;
    position: relative;
    top: 30px;

}

.discography__img1  {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 30px;
}

.discography__img1 a img {
    transition: scale(5s);
} 

.discography__img1 a img:hover {
    transform: scale(1.03);
} 

.discography__img2 a img {
    transition: scale(5s);
} 

.discography__img2 a img:hover {
    transform: scale(1.03);
} 

.discography__img2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 30px;
}

.discography__txtBajoBelgrano1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.discography__txtBajoBelgrano2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.discography__txtPix3l1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.discography__txtPix3l2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

/* BOX MODELING PHOTOS PAGE SECTION ----------------------------------------------------------------------- */

.photosPageSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 30px 30px 0px 30px;
}

.photosPageSection4 {
    padding-bottom: 30px;
}

.photos__title h1 {
    padding: 0px 0px 0px 0px;
}

.photos__img1




.formContactMe {

    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    align-items: left;
    padding-top: 50px;
    padding-bottom: 50px;
}

textarea, input {
    border: 1px solid black;
    padding: 10px;
    margin: 3px;
    border-radius: 6px;
}

/* BOX MODELING BIO PAGE ----------------------------------------------------------------------- */


.about__h1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    height: 100px;
    position: relative;
    top: 30px;
}

.about__img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 30px;
}

.about__p {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding: 30px 20px
}

.about__p p {
    width: 1000px;
}

/* BOX MODELING CONTACT ME PAGE ----------------------------------------------------------------------- */

.formContactMe {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding: 40px 0px 0px 0px;
}

.stickyFooter {
    position: absolute;
    bottom: 0px;
}

/* BOX MODELING Social Sticky ----------------------------------------------------------------------- */

.socialSticky {

    position: fixed;
	right: 20px;
	top: 15px;
	font-size: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 1111;
    border-radius: 5px;
}

.socialSticky a {
    padding: 0px 20px 0px 20px;
}


/* media queries de detalles ----------------------------------------------------------------------------*/

@media only screen and (min-width:0px) and (max-width:767px){
    .socialSticky {
        position: fixed;
        left: 190px;
        top: 12px;
        width: 120px;
    }

    .socialSticky a {
        padding: 2px;
    }

    .latestReleases__txtBajoBelgrano1 {
        display: none;
    }
    .latestReleases__txtBajoBelgrano2 {
        display: none;
    }
    .latestReleases__txtPix3l1 {
        display: none;
    }
    .latestReleases__txtPix3l2 {
        display: none;
    }

    .inputName {
        position: absolute;
        top: 40px;
        left: 15%;
        width: 250px;
    }

    .inputEmail {
        position: absolute;
        top: 100px;
        left: 15%;
        width: 250px;
    }
    
    .submitButton {
        position: absolute;
        top: 160px;
        left: 15%;
        width: 250px;
    }

    .contactMe__title {
        position: relative;
        left: 20%;
    }

    
}
