$azul:#003049;
$rojo: #d62828;
$naranja: #f77f00;
$amarillo: #fcbf49;
$crema: #eae2b7;

nav {
    background-color: black!important;
}

nav a {
    color: white;
}

h3 {
    color: white;
}

header {
    background-color: black;
}

p {
    color: black;
}

a {
    color: white;
}

.about {
    background-color: white;
}

.music {
    background-color: black;
}

.footer {
    background-color: black;
}

.footer p {
    color: white;
}

.musicPage__section {
    background-color: white;
}

h1 {
    color: black;
}

.socialSticky {
    background-color: chocolate;
}