



.header__title {
    font-family: 'bebas neue';
}

.header__links {
    font-family: 'montserrat';
    text-transform: uppercase;
}



.footer p {
    font-size: 0.7rem;
    color: black;
}


a  {
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-family: 'montserrat';
    font-weight: bolder;
    font-size: 0.7rem;
}

.about__txt1 {
    font-family: 'poppins';
    font-style: italic;
    text-align: justify;
}

h1 {
    font-family: 'bebas neue';
    font-size: 2rem;
    letter-spacing: 2px;
}

.musicPage__section div p {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 0.8rem;
}