



.header__title {
    font-family: 'bebas neue';
}

.header__links {
    font-family: 'montserrat';
    text-transform: uppercase;
}



.footer p {
    font-size: 0.7rem;
    color: black;
}


a  {
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-family: 'montserrat';
    font-weight: bolder;
    font-size: 0.7rem;
}

.about__txt1 {
    font-family: 'poppins';
    text-align: justify;
    font-size: 1.2rem;
}

h1 {
    font-family: 'bebas neue';
    font-size: 3rem;
    letter-spacing: 2px;
}

.musicPage__section div p {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 0.8rem;
}

.estilo_latestReleases p {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 0.8rem;
}

@media only screen and (min-width:0px) and (max-width:768px) {
    h1 {
        font-size: 2rem;
    }
}